<ion-header>
  
</ion-header>

<ion-content>
  <div class="slides_div">
    <ion-slides pager="true" [options]="slideOpts" id = 'welcome_slides'>
      
      <ion-slide>
       
          <img src="https://images.pexels.com/photos/1906873/pexels-photo-1906873.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="height: 60vh;">
          
      </ion-slide>
      
      <ion-slide> 
       
          <img src="https://images.pexels.com/photos/1055691/pexels-photo-1055691.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" style="height: 60vh;">
        
      </ion-slide>
      
      <ion-slide>
        
          <img src="https://images.pexels.com/photos/3372595/pexels-photo-3372595.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="height: 60vh;">
          
      </ion-slide>

    </ion-slides>

   

  </div>

  <div>
      <p style="margin-left: 10px; font-weight: 800; font-size: 14px;">Performance seamless sports bra</p> <span style="float:right; font-size: 15px; margin-top: -8%; margin-right: 12px;">$24.99</span>
  </div>
  <small id="small">Size:M/ Colour:Black</small>
  <!-- <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button>S</button>
      </ion-col>
     
        <ion-row>
          <button>XL</button>
         </ion-row>
     
    </ion-row>

      </ion-grid>
  </div> -->
<hr>  
  <div id="composition">
    <h5>Composition</h5>
    <p>Polyamide 82%</p>
    <p>Elastane 18%</p>
  </div>

  <div class="Laundry">
    <h5>Laundry Care</h5>
     <span>
      <ion-icon name="flash-off-outline"></ion-icon> <br>
      <small>wash at or Below 60˚C</small>
    </span>
    <span>
      <ion-icon name="pulse-outline"></ion-icon> <br>
      <small>Hand Wash</small>
    </span>
  </div>
  <hr>
<div class="shipping">
  <h5>Shipping</h5>
  <p>The estimated delivery time will be between 5-7 working days, depending on the delivery address </p>
</div>

<div class="exchange">
  <h5>Exchanges and Returns</h5>
  <p>You have 30 days from the shipping date to return your purchase. Return costs are 19.95 EUR and would be deducted from your refund. </p>
</div>

</ion-content>
<ion-button color="dark" id="addtobag" expand="full">Add to Bag</ion-button>
 <ion-button color="light" id="like" ><ion-icon style="color: red;" name="heart"></ion-icon> </ion-button>