<ion-header>
  
</ion-header>

<ion-content>
  <div class="slides_div">
    <ion-slides pager="true" [options]="slideOpts" id = 'welcome_slides'>
      
      <ion-slide>
       
          <img src="https://images.pexels.com/photos/1906873/pexels-photo-1906873.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
          <p>DISCOVER TRENDS</p>
          <small>Over thousands of stylish products online</small>
          
      </ion-slide>
      
      <ion-slide> 
       
          <img src="https://images.pexels.com/photos/1055691/pexels-photo-1055691.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260">
          <p>ADD TO MY WISHLIST</p>
          <small>Choose the items you're most interested in</small>
        
      </ion-slide>
      
      <ion-slide>
        
          <img src="https://images.pexels.com/photos/3372595/pexels-photo-3372595.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
          <p>IT'S SIMPLY FOR YOU</p>
          <small>A smart experience, from browsing to delivery</small>
        
      </ion-slide>

    </ion-slides>
<!-- 
    <ion-button color="dark" class="get-started-button" (click)="next()" >
      <div class="button_div"> Get Started </div>
    </ion-button> -->
    <ion-button color="dark" id="getstarted" expand="full">Get Started</ion-button>

  </div>
</ion-content>
