<ion-header>
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar> 
    </ion-header>
  
  <ion-content>
    <ion-list>
  
      <ion-item>
        <!-- <ion-label>Username</ion-label> -->
        <ion-input id="input" type="text" placeholder="Email"></ion-input>
      </ion-item>
    
    </ion-list>
    
    
    
    <ion-button id="butt" expand="full" color="dark" (click)="showAlert()"> Reset Password </ion-button>
   

  

  
 
 
 
 
  
  </ion-content>
  
