<ion-header>
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar> 
    </ion-header>
  
  
  
    <div class="ion-text-center dont" >
      <p>Don't have an account? <strong>Sign up</strong></p>
    </div>
  
  
  <ion-content>
    <form>
      <ion-item>
        <ion-label position="floating" color="dark">Email</ion-label>
        <ion-input type="Email" ></ion-input>
      </ion-item>
      
      <ion-item>
            <ion-label position="floating" color="dark">Password</ion-label>
            <ion-input type="password"></ion-input>   
      </ion-item>
     
   
   
    
    
    
<ion-button id="butt" expand="full" color="dark"> Login </ion-button>
   
</form>



  <ion-col>
    <div class="ion-text-center">
      <a href="#" (click)="gotoresetpass();">Forgotten your password?</a>
    </div>
  </ion-col>
  
 
  
  <div class="btn_container">
    <button ion-button icon-start (click)="loginAction();">
        <ion-icon slot="start" id="face" name="logo-facebook"></ion-icon>
       <h2 id="facebook"> Facebook </h2>
      </button>
  </div>

 
  
  </ion-content>
  
