.btn_container {
    position: absolute;
    top: 65%;
   left: 13%;
   border-spacing: 10px;
   padding: 5px;
   }

   button {
    background: #3b5998;
    // padding: 8px;
    color: #fff;
    font-size: 16px;
     width: 16rem;
    }

    #face{
        float: left;
        font-size: 29px;
        margin-top:10px;
      }
    #facebook{
        margin-top: 9px;
    }

    


    #google{
        font-size: 19px;
        text-align: center;
        position: relative;
        margin-top: 3px;
        margin-left: -36px;
        margin-bottom: -5px;
        
      }

      #go{
        background: #ffffff;
        color: #000000;
        float: left;
      }

      #input{
        margin-top: 24px;
      }

      #butt{
        width: 16rem;
        margin-left: 15%;
        margin-top: 10px;
      }

      .dont{
        padding: 10px;
        background: #d1d0d0;
      }