<ion-header>
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar> 
    </ion-header>
  
  
  
    <div class="ion-text-center">
      <p>Don't have an account? <strong>Sign up</strong></p>
    </div>
  
  
  <ion-content>
    <ion-list>
  
      <ion-item>
        <!-- <ion-label>Username</ion-label> -->
        <ion-input id="input" type="text" placeholder="Username"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-input id="input" type="password" placeholder="Password"></ion-input>
      </ion-item>
    
    </ion-list>
    
    
    
    <ion-button id="butt" expand="full" color="dark"> Login </ion-button>
   
  <ion-text class="ion-text-center" color="secondary"></ion-text>
  
  <ion-col>
    <div class="ion-text-center">
      <a href="#" (click)="gotoresetpass();">Forgotten your password?</a>
    </div>
  </ion-col>
  
 
  
  <div class="btn_container">
    <button ion-button icon-start (click)="loginAction();">
        <ion-icon slot="start" id="face" name="logo-facebook"></ion-icon>
       <h2 id="facebook"> Facebook </h2>
      </button>
  </div>
 
  <div class="btn_contain">
    <button id="go" ion-button icon-start (click)="loginAction();">
      <img id="faci" src="assets/g.png" alt="">
       <h2 id="google"> Google </h2>
      </button>
  </div>
  
  </ion-content>
  
