<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button >
        <ion-icon name="filter-outline" color="dark" class="iconco" href="#"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <strong>TRENDY</strong>
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button >
        <ion-icon name="cart-outline" color="dark" class="iconco" href="#"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar> 
</ion-header>
<ion-content>
  
  <!-- <div class="body1" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTKpGPyqvlweJ21CKCnS56AS_E_b2Pjn0x29vnoqE-SR-dERTEz&usqp=CAU'); height: 650px"> -->
 
        <ion-searchbar id="search" placeholder="Search for products" inputmode="text"></ion-searchbar>
 
    <div class="ion-text-center" id="middle">
      <h1 id="spring">SPRING</h1>
      <h5 id="summer">SPRING.SUMMER COLLECTION  风格现代</h5>
    </div>
  
      <!-- <ion-button size="large" fill="outline"  color="light" href="#" >Shop Now</ion-button> -->
      <ion-button id="butt"  fill="outline" color="light" href="#" > Shop Now </ion-button>

    <div class="ellipsis">
      <ion-icon name="ellipsis-horizontal-outline" color="light"></ion-icon>
    </div>
  <!-- </div>  -->
  <div style="background-image: url('https://cdn.cnn.com/cnnnext/dam/assets/181010131059-australia-best-beaches-cossies-beach-cocos3.jpg'); height: 100px;"></div>

</ion-content>
<ion-footer >
  <ion-toolbar class="border" class="ion-no-border">
  <ion-grid class="gr">
    <ion-row>
      <ion-col>
        <div>
          <ion-buttons>
            <ion-button>
              <ion-label>
                <ion-icon name="home-outline" color="dark" href="#"></ion-icon>
                <h6>Home</h6>
              </ion-label>
            </ion-button>
          </ion-buttons>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-buttons>
            <ion-button>
              <ion-label>
                <ion-icon name="heart-outline" color="dark" href="#"></ion-icon>
                <h6>Wishlist</h6>
              </ion-label>         
            </ion-button>
          </ion-buttons>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-buttons>
            <ion-button>
              <ion-label>
                <ion-icon name="location-outline" color="dark" href="#"></ion-icon>
                <h6>Stores</h6>
              </ion-label>
            </ion-button>
          </ion-buttons>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-buttons>
            <ion-button>
              <ion-label>
                <ion-icon name="person-outline" color="dark" href="#"></ion-icon>
                <h6>Account</h6>
              </ion-label>            
            </ion-button>
          </ion-buttons>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>
</ion-footer>