<ion-header>
  <ion-toolbar>
    <ion-title>REGISTER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form>
  <ion-list>
    <ion-item>
      <ion-label position="floating" color="dark">Email</ion-label>
      <ion-input type="email" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="dark">password</ion-label>
      <ion-input type="password" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="dark">First name</ion-label>
      <ion-input type="text" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="dark">Last name</ion-label>
      <ion-input type="text" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="dark">Mobile phone</ion-label>
      <ion-input type="number" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="term">I would like to recieve the latest news from TRENDY <br> by email</ion-label>
      <ion-checkbox color="dark" slot="start" checked ></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label class="term">I would like to recieve the latest news from TRENDY <br> by email</ion-label>
      <ion-checkbox color="dark" slot="start" ></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-button color="dark" id="apply" expand="full">Apply</ion-button>
</form>
</ion-content>
